html,body{
    background-color: aquamarine;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
}

.snakeContainer {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .01fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "snakeUpper1 snakeUpper2"
      "snakeLower1 snakeLower2"
      "backButton backButton";
  }
  .snakeLower1,.snakeUpper1,.snakeLower2,.snakeUpper2{

    min-height: 23em;
    max-height: 23em;
    max-width: 32em;
    border-radius: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    background-color: aliceblue;
    
}
  
  .snakeUpper1 { 
    grid-area: snakeUpper1; 
    background-color: aquamarine;
}
  
  .snakeUpper2 { 
    grid-area: snakeUpper2; 
    box-shadow: 5px 5px 10px;

}
  
  .snakeLower2 { 
    grid-area: snakeLower2; 
    background-color: aquamarine;

}
  
  .snakeLower1 { 
    grid-area: snakeLower1; 
    box-shadow: 5px 5px 10px;
}

.snakeImage {
    min-height: 23em;
    max-height: 23em;
    min-width: 31em;
    max-width: 31em;
    box-shadow: 5px 5px 10px;

}

.snakeTitle{
    font-size: x-large;
    margin-top: .5%;
}

.snakeDescription{
    font-size: .80em;
}

ul {
    font-size: medium;
    text-align: start;
    list-style: none;
    margin-top: 5%;
}

.backButton{
    height: 3em;
    width: 80%;
    margin-left: 10%;
    box-shadow: 5px 5px 10px;

}


  